<section>
      <div class="container mt 5">
          <div class="row">
              {{#each products}}
              <div class="col-md-3 p-3">
                  <div class="card" style="width: 15rem;height:30rem">
                    <img style="height:15rem" class="card-img-top" src="/product-images/{{this.products._id}}.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.products.Name}}</h5>
                        <p class="card-text">&#8377; {{this.products.Price}}</p>
                        <p class="card-text">Quantity : {{this.quantity}}</p>
                    </div>
                </div>
              </div>
              {{/each}}
          </div>
      </div>
  </section>

 