/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.nav-background {
  background-color: rgb(224, 88, 88);
}

.letter-color {
  color: white !important;
}

nav a:hover {
  color: rgb(56 47 60) !important;
}




